body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(90deg, #1C1C1C, #121212); /* Background gradient */
    margin: 0;
    padding: 0;
    color: #fff; /* Text color */
    /* Set the background image */
    background-image: url("sea.jpg");
    /* Ensure the background image covers the entire viewport */
    background-size: cover;
    /* Center the background image horizontally and vertically */
    background-position: center;
    /* Fix the background image so it doesn't scroll with the content */
    background-attachment: fixed;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 48px;
    color: #FFD700; /* Title color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Title text shadow */
}

.soundboard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.button {
    padding: 30px;
    font-size: 20px;
    background: linear-gradient(45deg, #FF7A00, #FFD700); /* Button gradient */
    color: #fff; /* Button text color */
    border: none;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Button shadow */
}

.button:hover {
    background: linear-gradient(45deg, #FF9725, #FFE05E); /* Hover gradient */
    transform: translateY(-3px);
}

.textpad {
    margin-top: 50px;
    text-align: center;
}

.text-input {
    width: calc(100% - 40px);
    max-width: 600px;
    height: 120px;
    padding: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 15px;
    background-color: #2C2C2C;
    color: #fff;
    font-size: 18px;
}

.text-button {
    padding: 20px 40px;
    font-size: 18px;
    background: linear-gradient(45deg, #FF7A00, #FFD700); /* Button gradient */
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Button shadow */
}

.text-button:hover {
    background: linear-gradient(45deg, #FF9725, #FFE05E); /* Hover gradient */
    transform: translateY(-3px);
}
