/* Global Styles */
body {
    font-family: "Arial", sans-serif; /* Set body font */
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
    color: #000000; /* Set default text color */
    background-color: #FFFFFF; /* Set background color */
}

/* Header Styles */
header {
    background-color: #17072b; /* Set header background color */
    padding: 20px; /* Add padding to header */
    color: #FFFFFF; /* Set text color */
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space elements evenly */
    align-items: center; /* Align items vertically */
}

nav ul {
    font-size: 20px; /* Sets the font size to 20 pixels */
    list-style-type: none; /* Remove default list styles */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

nav ul li {
    display: inline; /* Display list items inline */
    margin-right: 20px; /* Add right margin to separate items */
}

nav ul li a {
    color: #FFFFFF; /* Set link color */
    text-decoration: none; /* Remove underline from links */
}

/* Main Content Styles */
main {
    padding: 20px; /* Add padding thickness to 20 pixels to main content */
}

.welcome-section {
    font-size: 25px; /* Sets the font size to 25 pixels */
    text-align: center; /* Center align text */
}

.p {
    font-size: 18px; /* Sets the font size to 18 pixels */
    text-align: center; /* Center align text */
}

img {
    width: 70%; /* Sets the image width to 70% */
}

.line-up {
    background-color: #172d67; /* Set sidebar background color */
    color: #FFFFFF; /* Set text color */
    padding: 20px; /* Add padding thickness to 20 pixels */
}

.line-up h1 {
    margin-bottom: 20px; /* Add bottom margin to 20 pixels */
}

.line-up article {
    font-size: 20px; /* Sets the font size to 20 pixels */
    margin-bottom: 20px; /* Add bottom margin to 20 pixels */
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left; /* The "float: left" property-value pair is used to align an element to the left within its containing element and allow content to flow around it on the right side */
    width: 32.57%; /* The column width set to 32.75% thickness */
    padding: 5px; /* Add padding thickness to 5 pixels */
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both; /* The "clear: both" property-value pair is used to ensure that an element does not float alongside any floated elements that appear before it in the HTML markup */
    display: table; /* The "display: table" is a property-value pair used to change the default layout behavior of an element to behave like a table */
  }

/* Footer Styles */
footer {
    background-color: #8c15e9; /* Set footer background color */
    color: #FFFFFF; /* Set text color */
    text-align: center; /* Center align text */
    padding: 10px 0; /* Add padding */
}
