/* Resetting default margins, padding, and ensuring the body and html take up the full height of the viewport */
body, html {
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
    height: 100%; /* Ensures body and html take up full height of viewport */
    display: flex; /* Enables flexbox layout */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
}

/* Styling for video elements */
video {
    max-width: 50%; /* Limits the maximum width of the video to 50% of its containing element */
    max-height: 50%; /* Limits the maximum height of the video to 50% of its containing element */
    width: auto; /* Allows the width of the video to adjust automatically */
    height: auto; /* Allows the height of the video to adjust automatically */
    position: absolute; /* Positions the video absolutely within its containing element */
    top: 50%; /* Positions the top edge of the video at the vertical center of its containing element */
    left: 50%; /* Positions the left edge of the video at the horizontal center of its containing element */
    transform: translate(-50%, -50%); /* Translates the video back by 50% of its own width and height, effectively centering it */
}